body {
  background-color: rgb(55, 52, 49);
}
nav {
  display: flex;
  background-color: rgb(55, 52, 49);
  height: 75px;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  position: relative;
}
ul {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}
ul li {
  color: white;
  font-size: 20px;
}
li {
  cursor: pointer;
  padding: 10px
}
.start {
  color: rgb(250, 200, 46);
  font-weight: bolder;
  font-size: 35px;
  font-family: cursive;
}
.menbtn {
  color: white;
  width: 100px;
  height: 50px;
  background-color: rgb(250, 200, 46);
  align-items: center;
  display: none
}
.bars {
  width: 35px;
  height: 3px;
  background-color: #333;
  margin: 6px;
  transition: 0.4s
}
menu {
  width: 100vw;
  height: 200px;
  background: rgb(45, 51, 56);
  transform: translateY(-275px);
  transition: transform .5s;
  z-index: 0;
  position: relative;
  color: white;
  display: none;
}
.menu-open {
  transform: translateY(0px);
}

@media (max-width: 982px) {
  .nav-links {
    display: none;
  }
  menu {
    display: block;
  }
  .menbtn {
    display: flex;
  }
  h3 {
    margin: 3px
  }
  ul {
    flex-direction: column;
  }
}